/*Footer*/
.footer {
    display: inline-flex;
    background-color: $background-color-footer;
    height: 603px;
    width: 100%;
    // margin: auto;
    justify-content: center;
   
    &__style {
        display: flex;
        flex-direction: column;
        min-width: 100%;
    }
    &__logo {
        padding-top: 60px;
        margin: 0 0 20px 0;
        text-align: center;
       

        &--decor {
            color: $font-color-white;
        }
    }
    &__address {
        text-align: center;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: $letter-spacing-one;
    }
    &__address-place {
        color: $font-color-white;
    }
    &__address-link {
        color: $font-footer-address-link;

        &:hover,:focus{
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            color: $font-color-menu-hover;
        }
    }
    &__item-address{
        &:nth-child(2) {
        margin-top: 9px;
        margin-bottom: 9px;
        letter-spacing: $letter-spacing-one;
        }
    }
    &__join-us {
        padding-top: 72px;
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        color: $font-color-white;
    }
    &__socials-ico {
        width: 20px;
        height: 20px;
    }
    &__socials-box {
        align-items: center;
        padding-top: 20px;
    }
    &__icons-socials-grid {
        display: flex;
        justify-content: center;
    }
    &__icons-socials-item {
        display: flex;
        width: 44px;
        height: 44px;
        fill: $icon-fill-color;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        margin-right: 10px;
        background-color: rgba(100%, 100%, 100%, 10%);

        &:hover, :focus{
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            background-color: #2196f3;
            cursor: pointer;
        }
    }

}
.newsletter{
    display: inline-block;
    min-width:100% ;
    &__title{
        padding-top: 72px;
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        color: $font-color-white;
    
    }
    &__item{
        display:block;
        padding-top: 20px;
        &>input{
            margin-left: 15px;
            padding-left: 16px;
            min-width: calc(100% - 45px);
            height: 50px;
            border: 1px solid rgba(255, 255, 255, 0.3);
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
            border-radius: 4px;
            background-color: $background-color-footer;
        }
        &:nth-child(3){
            padding-left: 12px;
        }
    }

}
.button{
    margin: auto;
    padding: 10px 24px 10px 42px;
    width: 205px;
    height: 50px;
    &__sendplane-ico{
        width: 24px;
        height: 24px;
        padding-left: 24px;
    }
}
@media screen and (min-width:480px)//smartphone
{
    
}
@media screen and (min-width:768px)//tablet
{
    .footer{
        position: relative;
        display: flex;
        height: 463px;
        width: 768px;
        justify-content: center;
        
      
        &__style{
            width: 100%;
            display: inline;
            

        }
        &__logo{
            text-align: center;
            padding-top: 55px;
        }
        &__address{
            min-width: 300px;
            // margin-left: 215px;
            text-align: center;
        }
        &__join-us{
            min-width: 300px;
            padding-top: 0;
            padding-left: 70px;
            text-align: center;
        }
        &__socials-box{
            padding-left: 70px;
            
        }
        &__item{
            display: inline-block;
           align-items: flex-end;
           &--address{
            position: absolute;
            top: 0;
            left: 0;
           }
           &--socials{
                position: absolute;
            top: 60px;
            left: 50%;
           }
        }
    }
    .newsletter{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -10%);
        &__title{
            // padding-left: 78px;
            text-align: center
        }
        &__item{
            display:block;
            margin: auto;
           
            &>input{
                width: 358px;
            }
        }
        &__box{
            width: 100%;
            margin: auto;
        }
        
    }
}
@media screen and (min-width:1200px)//PC and others big screens
{
    .footer{
        position: relative;
        display: block;
        height: 252px;
        min-width: 1200px;
        width: 1600px;
      
        &__style{
            flex-direction: row;
            min-width: 1200px;
            display: flex;

        }
        &__logo{
            text-align: left;
            padding-top: 60px;
        }
        &__address{
            margin-left: 215px;
            text-align: left;
            position: relative;
        }
        
        &__join-us{
            min-width: none;
            padding-top: 72px;
            padding-left: 70px;
            text-align: left;

        }
        &__socials-box{
            padding-left: 0px;
        }
         &__item{
            // display: inline-block;
           align-items: flex-start;
           &--address{
            position: relative;
            top: 0;
            left: 0;
           }
           &--socials{
                position: relative;
                top: 0;
                left: 0;
           }
        }
    }
    .newsletter{
       position: relative;
        top: 0;
        left: 0;
        transform: none;
        width: auto;
        &__title{
            padding-left: 15px;
            text-align: left;
        }
        &__item{
            display:inline-flex;
            // padding-left: 70px;
            &>input{
                width: 358px;
            }
        }
    }
}