/*Styling content of 4 boxes*/
.four-boxes {
    display: flex;
    margin: 0 15px;
    flex-direction:column;
    // flex-flow: row;
    max-width: 480px;
    
    &__item{
        
        margin-right: 30px;
        &:nth-last-child(1) {
            margin-right: 0px;
        }
        
    }
    &__title {
        text-align: center;
        text-transform: uppercase;
        font-size: 14px;
        line-height: 1.143;
        font-weight: 700;
        letter-spacing: $letter-spacing-one;
        color: $font-color-headers;
        margin-bottom: 10px;
        padding-top: 30px;
        padding-bottom: 10px;
    }
    &__text {
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: $letter-spacing-one;
        color: $font-color-text;
        max-width: 480px;
}

}
.picture-box{
    &__item{
        position: relative;
    }
    &__picture-title {
        position: relative;
        display: block;
        background-color: rgba(47, 48, 58, 0.8);
        padding: 27px 0px;
        top: -73px;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 700;
        line-height: 1.14;
        color: $font-color-white;
        letter-spacing: $letter-spacing-one;
        text-align: center;
    }
}
/* Style for icons */

.four-boxes__icon {
    background-color: $icon-backgroud-color-box;
    padding: 25px 190px;
    height: 70px;
    width: 70px;
}


/* ------- END fo styling icons ------------ */
@media screen and (min-width:480px)//smartphone
{
    
}
@media screen and (min-width:768px)//tablet
{
    .four-boxes{

        flex-wrap: wrap;
        max-width: 1200px;
        display: flex;
        max-height: 600px;
        &__item{
           
        flex-basis: calc((100% - 30px)/2);
        margin-right: 30px;
        &:nth-last-child(1) {
            margin-right: 0px;
        }
        
        }
        &__title{
            text-align: left;
        }
        &__text{
            max-width: 354px;
        }
    }
    .four-boxes__icon{
        padding: 25px 142px;
    }
}
@media screen and (min-width:1200px)//PC and others big screens
{
    .four-boxes{
        max-width: 1600px;
        flex-wrap: nowrap;
        margin: 0 215px;
        flex-direction: row;
        &__item{
        
        margin-right: 30px;
        &:nth-last-child(1) {
            margin-right: 0px;
        }
        
        }
    }
    .four-boxes__icon{
        padding: 25px 100px;
    }
}