.container--one {
    background-image: linear-gradient(to right, #2f303a66 100%, #2f303a66 100%),
        url("../images/mobile_title_picture.jpg");
    background-color: $background-color-one;
    background-size: 480px 400px ;
    max-width: 480px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .container--one { 
        background-image: linear-gradient(to right, #2f303a66 100%, #2f303a66 100%),
        url("../images/mobile_title_picture@x2.jpg");
    }
  }
}
.main-title {
    padding-top: 118px;
    font-size: 26px;
    line-height: 1.36;
    letter-spacing: $letter-spacing-main-title;
    color: $font-color-white;
    font-weight: 900;
    text-transform: uppercase;
    max-width: 356px;
    text-align: center;
}
.button {
    border: none;
    background-color: $font-color-blue;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 10px 42px;
    color: $font-color-white;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.875;
    letter-spacing: $letter-spacing-main-title;
    display: flex;
    align-items: center;
    margin-top: 30px;
    cursor: pointer;

    &:hover{
        transform: scale(1.1);
        background-color: #56b3ff;
        transition-duration: 250ms;
    }
}

@media screen and (min-width:480px)//smartphone
{
    
}
@media screen and (min-width:768px)//tablet
{
     .main-title{
    padding-top: 197px;
     }
      .container--one{
        background-size: 1600px 600px ;
        max-width: 768px;
        height: 400px;
        background-size: 768px 400px ;
        background-image: linear-gradient(to right, #2f303a66 100%, #2f303a66 100%),
        url("../images/tablet_title_picture.jpg");
    }
   
    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .container--one { 
         max-width: 768px;
        height: 400px;
        background-size: 768px 400px ;
        background-image: linear-gradient(to right, #2f303a66 100%, #2f303a66 100%),
        url("../images/tablet_title_picture@x2.jpg");
    }
  }

}
@media screen and (min-width:1200px)//PC and others big screens
{
    .main-title{
    padding-top: 200px;
    font-size: 44px;
    max-width: 696px;
    }
    .container--one{
        max-width:1600px ;
        height: 600px;
        background-size: 1600px 600px;
        background-image: linear-gradient(to right, #2f303a66 100%, #2f303a66 100%),
        url("../images/tlo_naglowka.jpg");
    }
   
    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .container--one { 
        max-width: 1600px;
        height: 600px;
        background-size: 1600px 600px;
        background-image: linear-gradient(to right, #2f303a66 100%, #2f303a66 100%),
        url("../images/tlo_naglowka@x2.jpg");
    }
  }
}

  

  