/* Okno modalne */

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 100%;
    z-index: 500;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms, visibility 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-cont {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 360px;
    height: 609px;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    background-color: $background-color-body;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal-close {
    position: absolute;
    top: 8px;
    right: 8px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;

    &:hover, &:focus
        {
            background-color: $background-color-portfolio-button-hover;
            fill: $icon-fill-color;
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
                1px 4px 6px rgba(0, 0, 0, 0.16);
            transition-property: background-color, box-shadow, fill;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1),
                cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);
        }
        
    
}
.cross-icon {
    height: 11px;
    width: 11px;
    fill: rgb(0, 0, 0);
    padding: 9px;
}
.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

/* -------------END okno modalne------------- */

/* Styling FORM of modal window */

%type_label_input_textarea{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: block;
}
%form_modal_text_and_link{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $font-color-text;
}
%cursor_form{
    cursor: pointer;
}
.form-modal{
    &__item {
        margin-bottom: 10px;
        position: relative;
        &:focus-within {
            fill: #2196f3;
        }
        
    &>label{
        @extend %type_label_input_textarea;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.01em;
        color: $font-color-text;
    }
    &>input{
        @extend %type_label_input_textarea;
        min-width: 320px;
        height: 40px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        margin-top: 4px;
        padding-left: 40px;
    }
    &>textarea{
        @extend %type_label_input_textarea;
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.01em;
        font-family: inherit;
        height: 120px;
        min-width: 320px;
        resize: none;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        margin-top: 4px;
        padding: 12px 16px;

        &::placeholder {
            color: rgba(33, 33, 33, 0.5);
        }
    }
    }
    &__title {
        min-width: 320px;
        margin-top: 40px;
        text-align: center;
        font-weight: 700;
        font-size: 20px;
        line-height: 1.15;
        letter-spacing: 0.03em;
        color: $font-color-headers;
    }
    &__box {
        margin-top: 12px;
        margin: 12px 40px 12px;
    }
    &__icons {
        width: 18px;
        height: 18px;
        bottom: 11px;
        left: 12px;
        position: absolute;
    }
    &__tick-box {
        width: 16px;
        height: 15px;
        position: relative;
        border: 2px solid $font-color-headers;
        border-radius: 3px;
        margin-right: 8px;
    
        &:focus-within {
            border-color: #2196f3;
        }
    }
    &__tick {
        z-index: 102;
        padding: 2px;
        border-radius: 3px;
        width: 18px;
        height: 17px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        fill: #fff;
        position: absolute;
    }
    &__send-style {
        display: flex;
        justify-content: center;
    }
    &__send-button {
        font-weight: 700;
        font-size: 16px;
        line-height: 1.875;
        text-align: center;
        letter-spacing: $letter-spacing-main-title;
        color: $font-color-white;
        padding: 10px 76px;
        background-color: $background-color-portfolio-button-hover;
        border-radius: 4px;

        &:focus {
            transition-property: box-shadow;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            cursor: pointer;
        }
    }
    &__agreement {
        display: flex;
        justify-content: center;
        margin: 20px 0px 30px 0px;
        &input{
            &:hover, &:focus{
                @extend %cursor_form;
            } 
    }
    }
    &__text, &__link{
        @extend %form_modal_text_and_link;
    }
    &__link {
        color: $font-color-blue;
        text-decoration: underline;
        & hover, focus{
            @extend %cursor_form;
        } 
    }
}

.checkbox {
    position: absolute;
    z-index: 200;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 18px;
    height: 16px;
    /* opacity: 0%; */
    appearance: none;
 }
.checkbox:checked + .form-modal__tick {
    background-color: #2196f3;
    border: none;
}
.form-agreement {
    &>input {
    margin-right: 8px;
    align-items: center;
}
}

.input-box:focus-within {
    outline: 1px solid #2196f3;
}

/* ----- END Styling FORM of modal window ---------------*/
@media screen and (min-width:480px)//smartphone
{
    
}
@media screen and (min-width:768px)//tablet
{
    .modal-cont{
        width: 528px;
        height: 581px;
    }
    .form-modal{
         &__title {
        width: auto;
         }
         &>input{
            width: 448px;
         }
         &>textarea{
            width: 448px;
        }
    }   
    .modal-backdrop{
        width: 100%;
    }
}
@media screen and (min-width:1200px)//PC and others big screens
{
    .modal-cont{
        width: 528px;
        height: 581px;
    }
    .form-modal{
         &__title {
        width: auto;
         }
         &>input{
            width: 448px;
         }
         &>textarea{
            width: 448px;
        }
    }   
    .modal-backdrop{
        width: 100%;
    }
}