/* Our clients / Nasi klienci */
.our-clients {
    flex-direction: column;
    align-items: center;
    
    &__title {
        font-size: 36px;
        font-weight: 700;
        color: $font-color-headers;
        line-height: 1.38;
        letter-spacing: $letter-spacing-one;
        padding-bottom: 50px;
    }

    &__items {
        fill: $icon-base-color;
    }
    
    &__item {
        max-width: 210px; 
        margin-right: 20px;
        margin-bottom: 20px;
        border: 1px solid $icon-base-color;
        border-radius: 4px;
        

        &:hover, &:focus{
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            fill: $icon-backgroud-color;
            border-color: $icon-backgroud-color;
            cursor: pointer;
        }
        &:nth-child(2n + 2) {
            margin-right: 0px;
        }
    }
    &__box {
        min-width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-left: 15px;
    }

    &__logo {
        max-width: 106px;
        height: 60px;
        padding: 16px 24px;
    }
}
/* $$- END Our Clients / Nasi klienci$$- */
@media screen and (min-width:480px)//smartphone
{
    
}
@media screen and (min-width:768px)//tablet
{
    .our-clients{
        
        &__box {
        width: 785px;
        display: flex;
        flex-wrap: wrap;
        margin-left: 90px;
    }
        &__item{
            // margin-right: 30px;
            &:nth-child(-n + 6) {
                margin-right: 30px;
            }
        }
}
}
@media screen and (min-width:1200px)//PC and others big screens
{
    .our-clients{
        &__box{
        display: flex;
        width: 1200px;
        justify-content: space-around;
        }
        &__item {
            width: 170px;
            margin: 0;
            display: inline-flex;
            justify-items: center;
            //padding: 14px 25px;
                &:nth-child(-n + 6) {
                margin-right: 0px;
            }
       
        }
        &__logo{
            padding: 14px 25px;
        }
        
}
}