/*Styling box "czym się zajmujemy"*/

.container--box-column {
    display: none;
    flex-direction: column;
    margin-bottom: 94px;
}
.picture-box {
   display: flex;
    justify-content: center;
    
    &__title {
        display: none;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.17;
        text-align: center;
        letter-spacing: $letter-spacing-one;
        color: $font-color-headers;
        margin-bottom: 50px;
    }

    &__picture {
        max-width: 370px;
    }
    &__item {
        margin-right: 30px;
        &:last-child {
            margin-right: 0;
        }
    }
}
@media screen and (min-width:480px)//smartphone
{
   
    
}
@media screen and (min-width:768px)//tablet
{
}
@media screen and (min-width:1200px)//PC and others big screens
{
    .container--box-column{
        display: flex;
    }  
    .picture-box{
         
         &__title{
            display: block;
         }
    }
}

