$font-color-white: #fff;
$font-color-black: #000;
$font-color-blue: #2196f3;
$font-color-logo: #2196f3;
$font-color-menu-hover: #2196f3;
$font-color-menu: #212121;
$font-color-headers: #212121;
$font-color-text: #757575;
$font-footer-address-link: rgba(255, 255, 255, 0.6);
$background-color-one: #2f303a;
$background-color-two: #f5f4fa;
$background-color-body: #fff;
$background-color-footer: #2f303a;
$background-color-three: #eeeeee;
$background-color-portfolio-button-hover: #2196f3;
$background-color-portfolio-button: #f5f4fa;
$icon-backgroud-color-box: #f5f4fa;
$borded-heder-color: #ececec;
$icon-backgroud-color: #2196f3;
$letter-spacing-one: 0.03em;
$letter-spacing-main-title: 0.06em;
$icon-fill-color: #fff;
$icon-base-color: #afb1b8;